name: 'build and push devcon to ghcr' 
on:
  schedule:
    - cron: '0 0 * * 5'  # rebuild every friday at midnight UTC
  push: # rebuild on main branch pushes
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout (GitHub)
        uses: actions/checkout@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2 
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and run Dev Container task
        uses: devcontainers/ci@v0.3
        with:
          imageName: ghcr.io/faeizmahrus/devcon-alp
          platform: linux/amd64
          configFile: src/devcontainer.json
